/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*--------------------------------------
END CSS reset
--------------------------------------*/
/* clearfix, from http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

body {
  background-color: #ffffee; }

.container {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

header {
  background-color: #008000; }
  header nav ul {
    display: none;
    list-style: none;
    text-align: center;
    font-size: 0;
    margin: auto; }
    header nav ul li {
      border-right: 0;
      border-top: 1px solid #ffffee; }
      header nav ul li a {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        font-size: 16px;
        line-height: 40px;
        padding: 0 20px;
        text-align: right;
        text-decoration: none;
        color: #ffffff;
        transition: color 0.3s; }
        header nav ul li a:hover, header nav ul li a:focus, header nav ul li a:active {
          color: #ffbb00; }
        header nav ul li a.active {
          background-color: rgba(255, 255, 255, 0.3); }
    header nav ul .current {
      background-color: #00bb00; }
  header .show_menu {
    display: block;
    text-decoration: none;
    font-size: 16px;
    text-align: right;
    padding: 0 20px;
    line-height: 40px;
    color: white;
    background-color: #008000;
    transition: color 0.3s; }
    header .show_menu:hover, header .show_menu:focus, header .show_menu:active {
      color: #ffbb00; }
  header input[type=checkbox] {
    display: none; }
  header input[type=checkbox]:checked ~ #menu {
    display: block; }

#bannerBox {
  box-sizing: border-box;
  position: relative;
  height: 75vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#banner {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(/images/banners/values.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding: 0;
  margin: 0; }
  #banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.7)); }

#homeTitle {
  z-index: 10;
  box-sizing: border-box;
  max-width: 960px;
  font-size: 12vmin;
  color: #ffffff; }
  #homeTitle span.med {
    font-size: 8vmin;
    font-family: 'Shadows Into Light Two', sans-serif; }
  #homeTitle span.big {
    font-size: 14vmin;
    font-family: 'Shadows Into Light Two', sans-serif; }

#content {
  color: #444444;
  max-width: 1030px;
  margin: auto; }
  #content .sidebar {
    padding: 0 20px; }
  #content p {
    text-align: justify;
    line-height: 1.6em;
    padding: 0.6em 0; }
  #content h1 {
    font-size: 2.6em;
    line-height: 1em;
    padding: 0.5em 0 0.2em 0; }
  #content .vision {
    font-size: 0.8em;
    color: #008000;
    text-align: left; }
    #content .vision h1 {
      padding: 0.3em 0; }
  #content h2 {
    font-size: 1.6em;
    line-height: 1.3em;
    padding-top: 0.7em; }
  #content h3 {
    font-size: 1.3em;
    line-height: 1.3em;
    padding-top: 0.9em; }
  #content h5 {
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 2em; }
  #content ul {
    line-height: 1.4em;
    list-style: disc inside none; }
  #content a {
    color: #008000;
    text-decoration: underline; }
    #content a:hover, #content a:focus, #content a:active {
      color: #ffbb00; }
  #content hr {
    border-top: 1px solid #008000; }
  #content .infoButtons a {
    display: block;
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #008000;
    border-radius: 10px;
    font-size: 1.4em;
    transition: background-color 0.3s; }
    #content .infoButtons a:hover, #content .infoButtons a:focus, #content .infoButtons a:active {
      background-color: #00bb00;
      color: #ffffff; }
  #content aside {
    text-align: center;
    margin: 1.3em auto 1em auto;
    padding: 0 20px;
    box-sizing: border-box;
    border-top: 1px solid #008000;
    border-left: 0; }
    #content aside p {
      padding: 1em 0;
      border-bottom: 1px solid #008000;
      text-align: center; }
    #content aside img {
      max-width: 50%;
      max-height: 75px;
      padding-top: 1em; }
    #content aside #fb, #content aside #tw {
      max-width: 25%; }
    #content aside :last-child {
      border-bottom: 0; }

.govPic {
  text-align: center;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  margin: 1%;
  width: 48%; }
  .govPic img {
    width: 100%; }
  .govPic figcaption {
    line-height: 1.7em; }

.calendar, .map {
  border-width: 0;
  width: 100%;
  height: 500px; }

.contentPics {
  text-align: center;
  padding-top: 20px; }
  .contentPics img {
    max-width: 49%; }

section.main {
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 0 20px;
  box-sizing: border-box; }
  section.main .goPic {
    max-width: 300px;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px 10px 0 0; }
  section.main table {
    margin: 1em 0;
    border-collapse: collapse; }
    section.main table td, section.main table th {
      border: 1px solid #aaa;
      padding: 10px;
      text-align: left; }
  section.main .video {
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 360px; }

footer {
  clear: both;
  background-color: #008000;
  margin: auto; }

#logos {
  max-width: 100%;
  margin: 20px auto 0 auto;
  padding: 20px;
  border-top: 1px solid #008000;
  text-align: center;
  background-color: #ffffee; }

#footerContact {
  max-width: 960px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
  line-height: 1.3em;
  color: #ffffff; }
  #footerContact a {
    color: #ffffff; }
    #footerContact a:hover, #footerContact a:focus, #footerContact a:active {
      color: #ffbb00; }

@media screen and (min-width: 680px) {
  section.main {
    max-width: 60%;
    float: left; }
    section.main div.news {
      border-bottom: 1px solid green; }

  #content aside {
    max-width: 40%;
    float: left;
    border-left: 1px solid #008000;
    border-top: 0; } }
@media screen and (min-width: 1030px) {
  header .show_menu {
    display: none; }
  header #menu {
    display: block;
    margin: auto; }
  header #menu li {
    display: inline-block;
    border-top: 0;
    border-right: 1px solid #ffffff; }
    header #menu li a {
      font-size: 12px; }
    header #menu li:last-child {
      border-right: 0; }

  #content h1 {
    font-size: 4em; }
  #content .vision {
    text-align: right; } }

/*# sourceMappingURL=style.css.map */
