-
	var governors = [{img: "drdavidmasheder.jpg", description: "Dr David Masheder, chair"}, {img: "gilloneill.jpg", description: "Gill O'Neill, headteacher"}, {img: "stevebone.jpg", description: "Steve Bone, co-opted"}, {img: "davidhowe.jpg", description: "David Howe, co-opted"}, {img: "eugenerapson.jpg", description: "Eugene Rapson, co-opted"}, {img: "simonbarnes.jpg", description: "Simon Barnes, parent"}, {img: "judyfine.jpg", description: "Judy Fine, co-opted"}, {img: "paulevemy.jpg", description: "Paul Evemy, co-opted"}, {img: "clairemoors.jpg", description: "Claire Moors, co-opted"}, {img: "alexkirkbride.jpg", description: "Alex Kirkbride, parent"}, {img: "natashalaws.jpg", description: "Natasha Laws, co-opted"}, {img: "keithmoore.jpg", description: "Keith Moore, parent"}, {img: "oliverlaity.jpg", description: "Oliver Laity, parent"}, {img: "placeholder.png", description: "Abigail Sims, parent"}, {img: "peteosborne.jpg", description: "Pete Obsorne, clerk"}, {img: "stephenball.jpg", description: "Stephen Ball, staff"}]
	var counter = governors.length

each governor, index in governors

	-
		var x = ''
		if(index % 2 == 0){
			x = '<div class="cf">'
		}
	!=x	
		figure.govPic.cf
			img(src="/images/govs/#{governor.img}", alt="#{governor.description}")
			figcaption= governor.description
	-
		var y = ''
		if(index % 2 == 1){
			y = '</div>'
		}
	!=y