-
	var governors = [
		{
			img: "keith-moore.jpg",
			description: "Keith Moore, Chair"
		}, 
		{
			description: "Heather Poustie, Headteacher"
		}, 
		{
			img: "simon-barnes.jpg",
			description: "Simon Barnes, Vice Chair"
		}, 
		{
			img: "paul-evemy.jpg",
			description: "Paul Evemy"
		}, 
		{
			img: "claire-moors.jpg",
			description: "Claire Moors"
		}, 
		{
			description: "Sandra Cartwright"
		}, 
		{
			img: "paul-reynolds.jpg",
			description: "Paul Reynolds"
		}, 
		{
			img: "jo-billings.jpg",
			description: "Jo Billings"
		}, 
		{
			img: "natasha-laws.jpg",
			description: "Natasha Laws"
		}, 
		{
			img: "sian-carnell.jpg",
			description: "Sian Carnell"
		}, 
		{
			img: "oliver-laity.jpg",
			description: "Oliver Laity"
		}, 
		{
			img: "chris-winfield.jpg",
			description: "Chris Winfield"
		},
		{
			img: "alex-kirkbride.jpg",
			description: "Alex Kirkbride"
		},
		{
			description: "Kay Dicken"
		},
		{
			img: "pete-osborne.jpg",
			description: "Pete Obsorne, Clerk"
		} 
	]

.gov-container 
	each governor in governors
		- var src = governor.img ? "/images/govs/" + governor.img : "https://via.placeholder.com/300x300"
		figure.govPic
			img(src="#{src}", alt="#{governor.description}")
			figcaption= governor.description
