doctype html
html
	head
		include ./top.jade
		
	body
		.container
			include ./menu.jade
			
			if !path
				#bannerBox
					figure
						//- img(src="/images/banners/banner01.JPG" alt="banner image for decoy school")
						img(src="/images/banners/banner02.JPG" alt="banner image for decoy school")
						//- img(src="/images/banners/banner03.JPG" alt="banner image for decoy school")
						//- img(src="/images/banners/banner04.JPG" alt="banner image for decoy school")
						//- img(src="/images/banners/banner05.JPG" alt="banner image for decoy school")
						//- img(src="/images/banners/banner06.JPG" alt="banner image for decoy school")
						//- img(src="/images/banners/banner01.JPG" alt="banner image for decoy school")
					#bannerTitleContainer
						#bannerTitle
							h1 <span class="med">Welcome to</span><br><span class="big">Decoy Community Primary School</span>

			#content
				section.main
					h1= title
					hr
					!= contents

					if path == 'our-governors'
						include ./governors.jade

				include ./sidebar.jade

			include ./bottom.jade
