aside
	#twitterContainer
		-
			var twitterHandle = ''
			if (path !='first-steps-nursery'){
				 twitterHandle = 'DecoyPri'
			} else {
				twitterHandle = 'dcpsBUTTERFLIES'
			}
		a(class="twitter-timeline" data-chrome="transparent nofooter" data-border-color="#008000" data-link-color="#008000" href="https://twitter.com/#{twitterHandle}" data-height="480") Tweets by @DecoyPri
		script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
	a(href="https://public.govdelivery.com/accounts/UKDEVONCC/subscriber/new?qsp=UKDEVONCC_4")
		img(src="/images/logos/snowflake.png", alt="link to sign up for school closure alerts")
	p Click here to sign up with Devon County Council to recieve school closure alerts by e-mail.
	a(href="https://pmx.parentmail.co.uk/#core/login", target="_blank")
		img(src="/images/logos/PMlogo.png", alt="parent mail link")
	p See letters, order school meals and pay for trips.
	a(href="https://www.activelearnprimary.co.uk", target="_blank")
		img(src="/images/logos/abacus.png", alt="active learn primary link")
	p Log on Abacus Maths from Active Learn to access your maths homework games!
	a(href="https://www.thinkuknow.co.uk", target="_blank")
		img(src="/images/logos/tUk.png", alt="think you know e-safety link")
	p Lots of useful information for children, young people, parents, and teachers about staying safe online.
	a(href="https://service.ptasocial.com/register/decoypta", target="_blank")
		img(src="/images/logos/PTAlogo.png", alt="PTA social link")
	p Register or log in to keep up to date with PTA events, and volunteer to help out.
	a(href="https://www.facebook.com/decoy.pri", target="_blank", id="fb")
		img(src="/images/logos/fblogo.png", alt="facebook link")
	p Our Facebook page...
	a(href="https://www.twitter.com/decoypri", target="_blank", id="tw")
		img(src="/images/logos/twlogo.png", alt="twitter link")
	p ...and our Twitter feed.
