<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-109996878-1")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109996878-1');

meta(charset="utf-8")
meta(lang="en-GB")
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="robots", content="index,follow,noodp")
meta(name="googlebot", content="index,follow")
meta(name="description", content="Website for Decoy Community Primary School, Newton Abbot, Devon")
link(rel="icon" href="/favicon.ico" type="image/x-icon")
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic', rel='stylesheet' type='text/css')
link(href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&text=Welcome%20to%20Decoy%20Community%20Primary%20School', rel='stylesheet', type='text/css')
link(rel="stylesheet", type="text/css" href="/styles/style.css")
title #{title} | #{site.title}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
script.
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
    "palette": {
        "popup": {
        "background": "#000000",
        "text": "#ffffff"
        },
        "button": {
        "background": "#ffbb00",
        "text": "#000000"
        }
    },
    "position": "bottom-left",
    "content": {
        "message": "This website uses cookies to ensure the best possible experience.  By using our site, you agree to our use of cookies."
    }
    })});
